---
import type { CollectionEntry } from "astro:content";
import {
	Card,
	CardContent,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle,
} from "@/components/ui/card";
import { Badge } from "@/components/ui/badge";

interface Props {
	prompt: CollectionEntry<"prompts">;
}

const { prompt } = Astro.props;
---

<a href={`/prompt-library/prompts/${prompt.id}/`} class="block group">
	<Card
		className="h-full hover:shadow-lg transition-shadow duration-300 overflow-hidden bg-background rounded-none border-t-0 border-l-0"
	>
		<CardHeader>
			<div class="flex justify-between items-start mb-2">
				<Badge variant="secondary" className="mb-2">
					{prompt.data.category}
				</Badge>
				<time
					datetime={prompt.data.pubDate.toISOString()}
					class="text-xs text-muted-foreground"
				>
					{
						prompt.data.pubDate.toLocaleDateString("en-us", {
							year: "numeric",
							month: "short",
							day: "numeric",
						})
					}
				</time>
			</div>
			<CardTitle
				className="text-xl group-hover:text-primary transition-colors"
			>
				{prompt.data.title}
			</CardTitle>
		</CardHeader>
		<CardContent>
			<CardDescription className="line-clamp-3">
				{prompt.data.description}
			</CardDescription>
		</CardContent>
		<CardFooter className="mt-auto pt-0">
			<div class="flex flex-wrap gap-2">
				{
					prompt.data.tags.map((tag) => (
						<span class="text-xs text-muted-foreground">
							#{tag}
						</span>
					))
				}
			</div>
		</CardFooter>
	</Card>
</a>
